/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #333;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #ddd;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #333;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
.more-visible {
    opacity:0.9 !important;
}

.well {
  background-color: rgba(245, 245, 245, 0.8);
}

.body-box {
  color: #333;
}

.alternate-body-box {
  margin-top: 20%;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  background-image: url("background.jpg");
  background-position: center;
  background-size: cover;
  display: table-cell;
  vertical-align: top;
}
.site-wrapper-inner2 {
  background-image: url("background2.jpg");
  background-position: center;
  background-size: cover;
  display: table-cell;
  vertical-align: top;
}
.site-wrapper-inner3 {
  background-image: url("background3.jpg");
  background-position: center;
  background-size: cover;
  display: table-cell;
  vertical-align: top;
}
.site-wrapper-inner4 {
  background-image: url("background4.jpg");
  background-position: center;
  background-size: cover;
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

/* Color fix */
.dark-gray-text {
  color: #333;
}
.white-text {
  color: #fff;
}

/* Minor subtitle size adjustment.*/
#contact-subtitle {
  font-size: 1.3em;
}

hr {
  border-color: #333;
  border-radius: 50%;
  border-width: 2px;
}

.blog-post-text {
  font-size: large;
  text-align: justify;
}

/* Implementing the flex! */
.flex-container {
  display: flex;
}

.scrollable {
  overflow-y: auto;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
  height: 40em;
}

/* Padded hands :) */
.left-hand {
  padding-left: .5em;
}
.right-hand {
  padding-right: .5em;
}

#projects { 
  padding:0;
}

.APA-fonts {
  font-family: "Times New Roman", Times, serif;
  font-size: 12pt;
}
.left-text {
  text-align: left;
}